<!doctype html>
<html>
    <head>
        <title>Sandbox</title>
        <link rel="icon" href="/favicon.ico">
        <!-- Mobile meta tags -->
        <meta content="True" name="HandheldFriendly"/>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta name="apple-touch-fullscreen" content="yes"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="format-detection" content="telephone=no"/>
        <link rel="stylesheet" href="styles/master.css"/>
    </head>
    <body>
        
        <h1>Testing</h1>

        <a href="#">Here's a link</a>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="/app.js"></script>
    </body>
</html>